body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #514343;
}

h1{
    text-align: center;
    margin-top: 32px;
    color: rgba(255, 0, 0, 0.5);
}

h1 img{
    width: 56px;
    margin-left: 16px;
    margin-bottom: -16px;
}

section.first-cta{
    text-align: center;
    background: #909090;
    height: 70vh;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

    .container{
        display: flex;
        align-items: center; 
    } 

    input{
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 16px;
        margin-bottom: 8px;
    }

    button{
        padding: 10px;
        margin-left: 10px;
        background: #70aa72;
        color: #FFF;
        border-radius: 16px;
        cursor: pointer;
    }

    button:hover{
        background: #03a50b ;
    }

    ul{
        list-style-type: none;
        padding: 0;
    }

    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 5px;
        background: #f9f9f9;
    }

    li:hover{
        background: #DDD;
    }
}

.task{
    flex: 1;
}

.error-msg{
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  } */